 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&displa=swap');

 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
 .nav{
    height: 80px;
    display: flex;
 }

.img{
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}
 
 .nav__container{
        width: 100%;
        max-width: 1200px;
        padding:0 24px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .purple {
    color: #7342d6;}

.logo{ 
    width: 160px;
}

     .nav__links {
        display: flex;
        gap: 24px; /* Space between links */
        list-style: none; /*remove bullet points */
    }

    .li {
        list-style-type: none;
    }

    .nav__link{
        text-decoration: none;
        color: #7342d6;
        font-weight: bold;
        margin-left: 16px;
        font-size: 20px;
        padding: 8px;
    }
    .nav__link:hover {
        text-decoration: underline;
    }
    .nav__link--primary{
    
        border: 2px solid #7342d6;
        border-radius: 4px;
    }
    .nav__link--primary:hover{
        text-decoration: none;
    }

#landing {
        background-color:rgba(115, 66, 214, 0.1)
    }

    .header {
        height: calc(100vh - 80px);
        padding-top: 40px;
    }

.header__container{
width: 100%;
max-width: 1200px;
margin: 0 auto;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
gap: 40px;
padding: 30px;
}

.h1 {
  font-size: 56px;
  margin-bottom: 24px;
  color: #7342d6;
  text-align: center;
}

.h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}
.header__description{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header__image{
  max-width: 400px;   
  width: 100%;
  max-height: 50vh;
  height: auto
}


button{
  border: none;
  cursor: pointer;
}

button:active{
  transform: translateY(1px)  

}
.btn {
  background-color: #7342d6;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.header__img--wrapper {
    padding: 20px;
}
.container{
padding: 56px 0;
}

.row{ 
width: 100%;
max-width: 1200px;
margin: 0 auto;
}


/*

HIGHLIGHTS 

*/

.highlight__wrapper{
    display: flex;
}

.highlight {
    padding: 0 24px
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.highlight__para {
    text-align: center;
}

.highlight__img {
    width: 60 px;
    height: 60px;
    border: 2px solid #0c0220;
    border-radius: 6px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px;
    background: white
}

.highlight__img i {
    color: #7342d6;
    font-size: 32px;
    width: 100%;
    text-align: center;
}
    


.highlight__subtitle{
    font-size: 20px
    margin-bottom: 16px;
}